<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kosbrother.com.doctorguide"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:name=".DoctorGuideApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
                         The API key for Google Maps-based APIs is defined as a string resource.
                         (See the file "res/values/google_maps_api.xml").
                         Note that the API key is linked to the encryption key used to sign the APK.
                         You need a different API key for each encryption key, including the release key that is used to
                         sign the APK for publishing.
                         You can define the keys for the debug and release targets in src/debug/ and src/release/.
                    -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4ff88bc6c2a12c1683641f99b930aade1310a3b4" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="kosbrother.com.doctorguide.SearchableActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HospitalDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DivisionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProblemReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDoctorActivity"
            android:screenOrientation="portrait" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AddCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchableActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".CommentDetailActivity"
            android:screenOrientation="portrait" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
